{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Newseer{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styl.css' %}">
    <style>
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</body>
</html>